name: Deploy UI-Service

on: # trigger conditions
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - uat
        - prd
      Re-analysis:
        description: 'Required re-analysis with SonarQube?'
        required: false
        type: boolean

  push:
    branches:
      - master  # Trigger this workflow on push to the main branch

jobs:
  deploy-ui-service:
    runs-on: mock-project #ubuntu-latest #GitHub hosted - Sharing between

    steps:
        - name: Checkout Code
          uses: actions/checkout@v3

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
              aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
              aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              aws-region: ap-southeast-1
       
        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v1

        - name: Build Docker Image
          uses: ./.github/actions/build-docker-image
          with:
            image_name: 774305578623.dkr.ecr.ap-southeast-1.amazonaws.com/ui-service
            tag: ${{ inputs.environment }}

        - name: Push Docker Image
          uses: ./.github/actions/push-docker-image
          with:
            image_name: 774305578623.dkr.ecr.ap-southeast-1.amazonaws.com/ui-service
            tag: ${{ inputs.environment }}